### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data, encoding ="UTF-8")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [42]:
# gather total players
players = len(purchase_data_df["SN"].unique())
total_players = pd.DataFrame({"Total Players": [players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
#Number of unique items
item_count = len(purchase_data_df["Item Name"].unique())
#Average purchase price
average_price = purchase_data_df["Price"].mean()
#Total number of purchases
total_purchases = len(purchase_data_df)
# Total Revenue
total_revenue = purchase_data_df["Price"].sum()
# purchasing_analysis- created a DataFrame to hold the results, use the map code to add $ with the format function
purchasing_analysis = pd.DataFrame({"Number of Unique Items":[item_count],
                                             "Average Purchase Price":[average_price],
                                            "Total Number of Purchases":[total_purchases],
                                             "Total Revenue":[total_revenue]
                                   })
purchasing_analysis["Average Purchase Price"] = purchasing_analysis["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,}".format)
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [44]:
# Gender Count
gender_count = purchase_data_df.groupby("Gender")["SN"].nunique()
# Gender percentage
gender_perc = gender_count/(gender_count.sum())*100

# Create a Gender Demographics DataFrame and change the format for the percentage 
gender_demographics = pd.DataFrame({"Total Count": gender_count,"Percentage of Players":gender_perc})
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}%" .format)
gender_demographics

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
# Gender Count
# gender_count = purchase_data_df.groupby("Gender")["SN"]
# gender_count.count()

# Average purchase price by gender
# avg_purchase = purchase_data_df.groupby("Gender")["Price"].mean()
# avg_purchase.round(2)

# Total Purchase Value by gender
# purchase_total = purchase_data_df.groupby("Gender")["Price"].sum()
# purchase_total.round(2)

# Average Total Purchase per Person
# avg_total = purchase_total/gender_count_df
# avg_total.round(2)

# Create Purchasing Analysis(Gender)
gender_analysis_df = pd.DataFrame({"Purchase Count":gender_count,
                             "Average Purchase Price":avg_purchase,
                             "Total Purchase Value":purchase_total,
                             "Avg Total Purchase per Person":avg_total.round(2)
                            })


#gender_analysis_df



# # gender_pur_analysis["Average Purchase Price"]=gender_pur_analysis["Average Purchase Price"].map("${:.2f}".format)
# # gender_pur_analysis["Total Purchase Value"]=gender_pur_analysis["Total Purchase Value"].map("${:.2f}".format)
# # gender_pur_analysis["Avg Total Purchase per Person"]=gender_pur_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
# gender_pur_analysis

NameError: name 'avg_purchase' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# create bins
bins = [0,10,15,20,25,30,40,45,50]
age_ranges = ["<10","10-14", "15-19","20-24","25-29","30-34","35-39",">40"]
# pd.cut(purchase_data_df["Age"], bins, labels=age_ranges)
# age_group_percentage_df = round(purchase_data_df["Age Range"].value_counts()/780,2)
# age_group_percentage_df
# age_group_count_df = purchase_data_df.groupby("Age Range")["Item Name"]
# age_group_count_df.count()
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_ranges)
purchase_data_df.head(8)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame