In [30]:
# Dependencies
import pandas as pd

In [31]:
# csv File path and reader
purchase_data = "Resources/purchase_data.csv"
purchase_data_df= pd.read_csv(purchase_data, encoding ="UTF-8")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [37]:
clean_purchase_data_df = purchase_data_df.dropna(how="any")
clean_purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [38]:
clean_purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [32]:
# unique value for gender
unique = purchase_data_df["Gender"].unique()
unique

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [33]:
# count of the gender value 
count = purchase_data_df["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [35]:
# Players count
players_df = purchase_data_df.groupby("SN")["SN"].unique()
players_df.count()

576

In [ ]:
#Unique items count
Items_df = purchase_data_df.groupby("Item Name")["Item Name"].unique()
Items_df.count

In [39]:
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000